*{
	margin: 0;
	padding: 0;
	color: #303030;
    font-family: "Yu Gothic", YuGothic, sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    text-decoration: none;
}

$color1: #303030;
$color2: #FFFFFF;
$color3: #db4832;
$color4: #707070;

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;

    @media only screen and (max-width: 1140px) {
        padding: 0 15px;
    }
}

.w_100{
    width: 100%;
    position: relative;
}

// *************************************************
// GENERAL CSS
// *************************************************
.sect_title_cont{
    margin-bottom: 50px;
    .sect_title{
        font-size: 30px;
        text-align: center;
        font-weight: 700;
    }
    .sect_border_mid{
        border: 1px solid #000;
        width: 300px;
        margin: 0 auto 10px;
    }
    .sect_des{
        font-size: 16px;
        text-align: center;
        font-weight: 700;
    }
}

.btn_container{
    background-color: $color2;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
    .sect_btn{
        display: inline-block;
        background-color: #f6121c;
        border: none;
        text-align: center;
        color: $color2;
        font-size: 16px;
        font-weight: 700;
        padding: 15px 50px;
        cursor: pointer;
        border-radius: 10px;
    }
}

.jumbo_section{
    margin-bottom: 50px;
    .w_100{
        .jumbo_cont{
            background-image: url(/assets/img/services/services_jumbo.jpg);
            background-position: 0 50%;
            background-size: cover;
            height: 500px;
            .jumbo_overlay{
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.50);
            }
            .jumbo_des{
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                h3{
                    text-align: center;
                    color: $color2;
                    font-size: 26px;
                    line-height: 100%;
                    span{
                        text-align: center;
                        color: $color2;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    .modal_content{
        background-color: $color2;
        width: 1000px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        @media only screen and (max-width: 1000px) {
            width: 90%;
        }
        .close_modal{
            position: absolute;
            right: 5px;
            top: 0;
            color: #aaaaaa;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}


// *************************************************
// HEADER CSS
// *************************************************
header{
    position: absolute !important;
    z-index: 999;
    .w_100{
        .container{
            .w_100{
                .navbar{
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 0;
                    @media screen and (max-width: 700px) {
                        padding: 10px 0;
                    }
                    .nav_logo{
                        a{
                            display: flex;
                            align-items: center;
                            img{
                                max-width: 70px;
                                @media screen and (max-width: 700px) {
                                    width: 50px;
                                }
                            }
                        }
                    }
                    .navbar_toggler{
                        display: none;
                        @media screen and (max-width: 700px) {
                            display: block;
                            background-color: transparent;
                            border: none;
                        }

                        i{
                            font-size: 20px;
                            color: $color3;
                        }
                    }
                    .navbar_nav{
                        text-align: center;
                        position: relative;
                        @media screen and (max-width: 700px) {
                            display: block;
                            width: 100%;
                            background-color: $color2;
                            // padding: 10px 0 15px;
                            margin-top: 10px;
                            height: 0;
                            overflow: hidden;
                            transition: height .5s;
                        }
                        .nav_item{
                            display: inline-block;
                            @media screen and (max-width: 700px) {
                                display: block;
                                padding: 5px;
                            }

                            &:not(:last-child){
                                margin-right: 50px;
                                @media screen and (max-width: 700px) {
                                    margin-right: 0;
                                }
                            }
                            .nav_link{
                                display: block;
                                width: 100%;
                                font-size: 12px;
                                font-weight: 700;
                                color: #fff;
                                @media screen and (max-width: 700px) {
                                    color: $color1;
                                    padding: 5px 0;
                                }
                                p{
                                    font-size: 9px;
                                    font-weight: 700;
                                    color: #fff;
                                    @media screen and (max-width: 700px) {
                                        color: $color1;
                                    }
                                }
                            }
                            // .active_link{
                            //     @media screen and (max-width: 700px) {
                            //         background: #ff9090;
                            //     }
                            //     color: $color3;
                            //     @media screen and (max-width: 700px) {
                            //         color: $color2;
                            //     }
                            //     p{
                            //         color: $color3;
                            //         @media screen and (max-width: 700px) {
                            //             color: $color2;
                            //         }
                            //     }
                            // }
                        }
                        
                    }
                }
            }
        }
    }
}

.head_p_fixed{
    position: fixed !important;
    transition: all 450ms;
    background-color: $color2;
    box-shadow: 1px 3px 13px -2px rgba(0,0,0,0.49);
    .navbar_nav{
        .nav_item{
            .nav_link{
                color: $color1 !important;
                p{
                    color: $color1 !important;
                }
            }
        }
    }
}

// *************************************************
// INDEX SECTION 1
// *************************************************
.section_1{
    .w_100{
        #bgvid{
            object-fit: cover;
            width: 100%;
            height: 100vh;
        }
        .bg_overlay{
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.10);
        }
        .container{
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            .w_100{
                h2{
                    font-family: yu-mincho-pr6n, sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 48px;
                    color: $color2;
                    span{
                        font-family: yu-mincho-pr6n, sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 32px;
                        color: $color2;
                    }
                }
            }
        }
    }
}

// *************************************************
// INDEX SECTION 2
// *************************************************
.section_2{
    padding: 100px 0;
    .w_100{
        .container{
            .w_100{
                .sect_2_des{
                    font-size: 20px;
                    text-align: center;
                    font-weight: 700;
                }
            }
        }
    }
}

// *************************************************
// INDEX SECTION 3
// *************************************************
.section_3{
    padding-bottom: 100px;
    .w_100{
        .news_cont{
            max-width: 800px;
            // width: 100%;
            margin: 0 auto;
            @media screen and (max-width: 768px) {
                width: 95%;
            }
            .news_list_cont{
                width: 100%;
                position: relative;
                list-style: none;
                .news_item{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    padding: 10px 30px;
                    border-bottom: 1px solid #000;
                    @media screen and (max-width: 700px) {
                        padding: 10px 10px;
                    }
                    .news_row{
                        p{
                            font-size: 16px;
                            text-align: left;
                            font-weight: 700;
                        }
                        &:nth-of-type(1){
                            margin-right: 20px;
                            @media screen and (max-width: 700px) {
                                width: 100%;
                            }
                        }
                        &:nth-of-type(2){
                            width: 580px;
                            @media screen and (max-width: 700px) {
                                width: 100%;
                            }
                        }
                    }
                }
                .news_gotolist{
                    text-align: right;
                    margin-top: 25px;
                    a{
                        font-size: 16px;
                        text-align: center;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

// *************************************************
// INDEX SECTION 4
// *************************************************
.section_4{
    padding: 100px 0 0;
    background: url(/assets/img/index/sect_4/sect_4_bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    .sect_4_overlay{
        background-color: rgba(0, 0, 0, 0.60);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .w_100{
        z-index: 2;
        .container{
            .w_100{
                .sect_4_title{
                    .sect_title{
                        color: $color2;
                    }
                    .sect_border_mid{
                        border: 1px solid $color2;
                    }
                    .sect_des{
                        color: $color2;
                    }
                }
                .service_cont{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    .service_item{
                        width: 49%;
                        @media screen and (max-width: 550px) {
                            width: 100%;
                        }
                        h4{
                            color: $color2;
                            font-size: 14px;
                            font-weight: 700;
                            margin-bottom: 8px
                        }
                        .serv_item_dis{
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            .serv_item_dis_row{
                                width: 50%;
                                margin-bottom: 30px;
                                @media screen and (max-width: 900px) {
                                    width: 100%;
                                    margin-bottom: 0;
                                }
                                &:nth-of-type(2){
                                    padding: 0 20px 0 20px;
                                    @media screen and (max-width: 900px) {
                                        padding: 0;
                                        margin-bottom: 30px;
                                    }
                                }
                                img{
                                    width: 100%;
                                }
                                p{
                                    color: $color2;
                                    font-size: 13px;
                                    font-weight: 700;
                                    margin-bottom: 8px
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// *************************************************
// INDEX SECTION 5
// *************************************************
.section_5{
    background: url(/assets/img/index/sect_5/sect_5_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    .sect_5_overlay{
        background-color: rgba(0, 0, 0, 0.60);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .w_100{
        z-index: 2;
        .container{
            padding: 200px 0;
            .w_100{
                .sect_5_title{
                    .sect_title{
                        color: $color2;
                    }
                    .sect_border_mid{
                        border: 1px solid $color2;
                    }
                    .sect_des{
                        color: $color2;
                    }
                }
                p{
                    font-size: 16px;
                    text-align: center;
                    font-weight: 700;
                    color: $color2;
                }
            }
        }
    }
}

// *************************************************
// INDEX SECTION 6
// *************************************************
.section_6{
    background: url(/assets/img/index/sect_6/sect_6_bg.png);
    background-size: cover;
    background-attachment: fixed;
    .sect_6_overlay{
        background-color: rgba(0, 0, 0, 0.60);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .w_100{
        z-index: 2;
        .container{
            padding: 200px 0;
            .w_100{
                .sect_6_title{
                    .sect_title{
                        color: $color2;
                    }
                    .sect_border_mid{
                        border: 1px solid $color2;
                    }
                    .sect_des{
                        color: $color2;
                    }
                }
                p{
                    font-size: 16px;
                    text-align: center;
                    font-weight: 700;
                    color: $color2;
                }
            }
        }
    }
}

// *************************************************
// INDEX SECTION 7
// *************************************************
.section_7{
    background: url(/assets/img/index/sect_7/sect_7_bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0;
    .sect_7_overlay{
        background-color: rgba(0, 0, 0, 0.40);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .w_100{
        z-index: 2;
        .container{
            .w_100{
                h3{
                    font-size: 36px;
                    text-align: center;
                    font-weight: 700;
                    color: $color2;
                    margin-bottom: 10px;
                }
                p{
                    text-align: center;
                    font-weight: 700;
                    color: $color2;
                    &:nth-of-type(1){
                        font-size: 20px;
                        margin-bottom: 50px;
                    }
                    &:nth-of-type(2){
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

// *************************************************
// FOOTER
// *************************************************
footer{
    .footer_details_cont{
        background-color: #303030;
        .w_100{
            .container{
                .footer_cont{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    position: relative;
                    padding: 20px 0;
                    .footer_row{
                        width: 50%;
                        @media screen and (max-width: 900px) {
                            width: 100%;
                        }
                        &:nth-of-type(1){
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            @media screen and (max-width: 900px) {
                                justify-content: center;
                                margin-bottom: 20px;
                                flex-wrap: wrap;
                            }
                            .footer_logo{
                                width: 70px;
                                margin-right: 20px;
                                img{
                                    width: 100%;
                                }
                            }
                            .footer_details{
                                @media screen and (max-width: 560px) {
                                    width: 100%;
                                }
                                p{
                                    color: $color2;
                                    font-weight: 500;
                                    font-size: 16px;
                                    margin-bottom: 10px;
                                    i{
                                        color: $color2;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                        &:nth-of-type(2){
                            display: flex;
                            justify-content: flex-end;
                            flex-wrap: wrap;
                            align-items: center;
                            .footer_img{
                                width: 200px;
                                margin-right: 20px;
                                @media screen and (max-width: 900px) {
                                    width: 50%;
                                    margin: 0 auto 10px;
                                }
                                img{
                                    width: 100%;
                                }
                            }
                            .footer_map{
                                width: 220px;
                                @media screen and (max-width: 900px) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .footer_nav{
                background: $color2;
                @media screen and (max-width: 1000px) {
                    display: none;
                }
                .navbar_nav_foot{
                    text-align: center;
                    position: relative;
                    padding: 10px;
                    .nav_item_foot{
                        display: inline-block;
                        margin: 0 20px;
                        .nav_link{
                            display: block;
                            width: 100%;
                            font-size: 12px;
                            font-weight: 700;
                            color: #707070;
                            p{
                                font-size: 9px;
                                font-weight: 700;
                                color: #707070;
                            }
                        }
                    }
                    
                }
            }
            .footer_copyright{
               .copy_right_txt{
                   text-align: center;
                   color: $color2;
                   padding: 10px;
                   font-size: 12px;
               }
            }
        }
    }
}


// *************************************************
// SERVICES PAGE CSS
// *************************************************

// *************************************************
// SERVICES SECTION CSS
// *************************************************
.services_section{
    .w_100{
        .container{
            .services_title{
                font-size: 20px;
                text-align: center;
                margin-bottom: 100px;
                @media screen and (max-width: 875px) {
                    margin-bottom: 50px;
                }
            }
            .services_item_cont{
                margin-bottom: 50px;
                .services_item_title{
                    text-align: center;
                    font-weight: 600;
                    margin-bottom: 20px;
                    font-size: 16px;
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        width: 50px;
                        height: 2px;
                        background-color: red;
                        position: absolute;
                        bottom: -5px;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }
                .sevices_des{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: stretch;
                    .row{
                        width: 49%;
                        @media screen and (max-width: 875px) {
                            width: 100%;
                        }
                        img{
                            width: 100%;
                        }

                        &:nth-of-type(2){
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            flex-direction: column;

                            .ser_desc{
                                @media screen and (max-width: 875px) {
                                    margin-bottom: 20px;
                                }
                                p{
                                    text-align: left;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 28px;
                                }
                            }
                            .ser_btn_cont{
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                align-items: center;
                                .ser_btn{
                                    width: 32%;
                                    padding: 10px;
                                    background: $color3;
                                    border: 1px solid $color3;
                                    color: $color2;
                                    border-radius: 10px;
                                    cursor: pointer;
                                    font-size: 14px;
                                    font-weight: 600;

                                    @media screen and (max-width: 500px) {
                                        width: 100%;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal{
    .modal_content{
        .services_modal_content{
            .modal_title{
                font-weight: 600;
                font-size: 16px;
                text-align: center;
                color: $color3;
                margin-bottom: 10px;
            }
            .w_100{
                .feedback_title{
                    font-weight: 600;
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 10px;
                }
                .row_cont{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .row{
                        width: 49%;
                        @media only screen and (max-width: 600px) {
                            width: 100%;
                        }
                        img{
                            width: 100%;
                        }
                        p{
                            font-weight: 600;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

// *************************************************
// SERVICES PAGE CSS
// *************************************************


// *************************************************
// COMPANY PAGE CSS
// *************************************************

// *************************************************
// Company SECTION 1
// *************************************************
.jumbo_section{
    margin-bottom: 50px;
    .w_100{
        .jumbo_company{
            background-image: url(/assets/img/company/jumbo_company.jpg);
        }
    }
}

// *************************************************
// Company SECTION 2
// *************************************************
.company_section_2{
    .w_100{
        .container{
            @media only screen and (max-width: 767px) {
                padding: 0;
            }
            .w_100{
                .sect_title_cont{
                    margin-bottom: 0;
                }
                .c_2_title{
                    .sect_title{
                        font-size: 20px;
                    }
                    .sect_border_mid{
                        width: 55px;
                        border: 1px solid black;
                        margin: 5px auto;
                    }
                    .sect_des{
                        font-size: 14px;
                        text-align: center;
                        font-weight: 700;
                    }
                }
                .c_container{
                    width: 630px;
                    height: auto;
                    margin: 0 auto;
                    @media only screen and (max-width: 630px) {
                        width: 100%;
                    }
                    .c_img{
                        padding-top: 25px;
                        padding-bottom: 20px;
                        img{
                            width: 100%;
                            height: auto;
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }
                    .c_message{
                        padding: 10px;
                        .ceo_mes{
                            font-family: "Montserrat",sans-serif;
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 25px;
                            letter-spacing: 1px;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}

// *************************************************
// Company SECTION 3
// *************************************************
.company_section_3{
    .w_100{
        .c_information{
            padding: 60px 0;
            .w_100{
                .sect_title_cont{
                    margin-bottom: 0;
                }
                .c_3_title{
                    margin-bottom: 27px;
                    .sect_title{
                        font-size: 20px;
                    }
                    .sect_border_mid{
                        width: 55px;
                        border: 1px solid black;
                        margin: 5px auto;
                    }
                    .sect_des{
                        font-size: 14px;
                        text-align: center;
                        font-weight: 700;
                    }
                }

                .t_container{
                    width: 630px;
                    margin: 0 auto;
                    @media only screen and (max-width: 767px) {
                        width: 100%
                    }
                    .c_table{
                        width: 400px;
                        margin: 0 auto;
                        border-collapse: collapse;
                        @media only screen and (max-width: 400px) {
                            width: 95%;
                        }
                        td{
                            border-bottom: 1px solid #ABABAB;
                            font-family: "Montserrat",sans-serif;
                            font-size: 13px;
                            font-weight: 500;
                            color: $color1;
                        }
                        td:nth-child(odd){
                            padding: 5px 5px 5px 50px;
                            text-align: left;
                            width: 50%;
                            @media only screen and (max-width: 767px) {
                                width: 45%;
                            }
                            @media only screen and (max-width: 400px) {
                                padding: 5px 5px 5px 5px;
                            }
                        }
                        td:nth-child(even){
                            padding: 5px 5px 5px 5px;
                            width: 50%;
                            @media only screen and (max-width: 767px) {
                                width: 45%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// *************************************************
// COMPANY PAGE CSS
// *************************************************


// *************************************************
// COMPANY PAGE CSS
// *************************************************

// *************************************************
// Recruitment SECTION 2
// *************************************************
.recruitment_section_2{
    padding-top: 55px;
    .w_100{
        .container{
            .w_100{
                .r_2_title{
                    .sect_title{
                        padding-top: 100px;
                        padding-bottom: 70px;
                    }
                    .sect_des{
                        margin-bottom: 1.6em;
                    }
                }
            }
        }
    }
}

// *************************************************
// Recruitment SECTION 3
// *************************************************
.recruitment_section_3{
    padding-top: 55px;
    .w_100{
        margin-bottom: 100px;
        .r_3_title{
            .sect_title{
                margin: 70px auto;
            }
        }
        .r1{
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: flex-start;
            list-style-type: none;
            .w_50{
                width: 49.3%;
                height: auto;
                @media only screen and (max-width: 767px) {
                   width: 100%;
                }
                img{
                    width: 100%;
                }
            }
            .btn_area{
                // width:10%;
                position: absolute;
                top: 17%;
                left: 53.4%;
                transform: translate(-50%, -50%);
                .btn_title{
                    font-size: 30px;
                    font-weight: 400px;
                    text-align: center;
                }
                a{
                    img{
                        width: 250px;
                        margin-left: 100px;
                    }
                }
                @media only screen and (max-width: 767px) {
                    width: 100%;
                    position:relative;
                    margin-top: 50px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    a{
                        &::after{
                            content: "Read more";
                            color: #fff;
                            position: absolute;
                            top: 130%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100px;
                            height: auto;
                            background-color: #f6121c;
                            padding: 5px;
                            text-align: center;
                            border-radius: 3px;
                        }
                        
                        img{
                            display: none;
                        }
                    }
                 }
            }        
        }

        .r2{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: flex-end;
            list-style-type: none;
            position: relative;
            .w_50{
                width: 49.3%;
                height: auto;
                @media only screen and (max-width: 767px) {
                    width: 100%;
                 }
                img{
                    width: 100%;
                }
            }
            .btn_area{
                // width:10.7%;
                position: absolute;
                top: 17%;
                left: 37.2%;
                transform: translate(-50%, -50%);
                .btn_title{
                    font-size: 30px;
                    font-weight: 400px;
                    text-align:end;
                    margin-right: 30px;
                    @media only screen and (max-width: 767px) {
                        text-align:center;
                        margin-right: 0;
                     }
                }
                a{
                    img{
                        width: 250px;
                        margin-left: 100px;
                    }
                }
                @media only screen and (max-width: 767px) {
                    width: 100%;
                    position:relative;
                    margin-top: 50px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    a{
                        &::after{
                            content: "Read more";
                            color: #fff;
                            position: absolute;
                            top: 130%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100px;
                            height: auto;
                            background-color: #f6121c;
                            padding: 5px;
                            text-align: center;
                            border-radius: 3px;
                        }
                        
                        img{
                            display: none;
                        }
                    }
                 }
            }        
        }

        .r3{
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                justify-content: flex-start;
                list-style-type: none;
                .w_50{
                    width: 49.3%;
                    height: auto;
                    @media only screen and (max-width: 767px) {
                        width: 100%;
                     }
                    img{
                        width: 100%;
                    }
                }
                .btn_area{
                    // width:12%;
                    position: absolute;
                    top: 17%;
                    left: 54.4%;
                    transform: translate(-50%, -50%);
                    .btn_title{
                        font-size: 30px;
                        font-weight: 400px;
                        text-align: center;
                        margin-left: 90px;
                        @media only screen and (max-width: 767px) {
                            margin-left: 0;
                         }
                    }
                    a{
                        img{
                            width: 250px;
                            margin-left: 100px;
                        }
                    }
                    @media only screen and (max-width: 767px) {
                        width: 100%;
                        position:relative;
                        margin-top: 50px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        a{
                            &::after{
                                content: "Read more";
                                color: #fff;
                                position: absolute;
                                top: 130%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100px;
                                height: auto;
                                background-color: #f6121c;
                                padding: 5px;
                                text-align: center;
                                border-radius: 3px;
                            }
                            
                            
                            
                            img{
                                display: none;
                            }
                        }
                     }
                }        
            }
    }
}


// *************************************************
// COMPANY PAGE CSS
// *************************************************