* {
  margin: 0;
  padding: 0;
  color: #303030;
  font-family: "Yu Gothic", YuGothic, sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 1140px) {
  .container {
    padding: 0 15px;
  }
}

.w_100 {
  width: 100%;
  position: relative;
}

.sect_title_cont {
  margin-bottom: 50px;
}

.sect_title_cont .sect_title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.sect_title_cont .sect_border_mid {
  border: 1px solid #000;
  width: 300px;
  margin: 0 auto 10px;
}

.sect_title_cont .sect_des {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

.btn_container {
  background-color: #FFFFFF;
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
}

.btn_container .sect_btn {
  display: inline-block;
  background-color: #f6121c;
  border: none;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 50px;
  cursor: pointer;
  border-radius: 10px;
}

header {
  position: fixed !important;
  z-index: 999;
}

header .w_100 .container .w_100 .navbar {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

header .w_100 .container .w_100 .navbar .nav_logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .w_100 .container .w_100 .navbar .nav_logo a img {
  max-width: 70px;
}

header .w_100 .container .w_100 .navbar .navbar_nav {
  text-align: center;
  position: relative;
}

header .w_100 .container .w_100 .navbar .navbar_nav .nav_item {
  display: inline-block;
}

header .w_100 .container .w_100 .navbar .navbar_nav .nav_item:not(:last-child) {
  margin-right: 50px;
}

header .w_100 .container .w_100 .navbar .navbar_nav .nav_item .nav_link {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

header .w_100 .container .w_100 .navbar .navbar_nav .nav_item .nav_link p {
  font-size: 9px;
  font-weight: 700;
  color: #fff;
}

header .w_100 .container .w_100 .navbar .navbar_nav .nav_item .active_link {
  color: #db4832;
}

header .w_100 .container .w_100 .navbar .navbar_nav .nav_item .active_link p {
  color: #db4832;
}

.section_1 .w_100 #bgvid {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}

.section_1 .w_100 .bg_overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

.section_1 .w_100 .container {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
}

.section_1 .w_100 .container .w_100 h2 {
  font-family: yu-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #FFFFFF;
}

.section_1 .w_100 .container .w_100 h2 span {
  font-family: yu-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #FFFFFF;
}

.section_2 {
  padding: 100px 0;
}

.section_2 .w_100 .container .w_100 .sect_2_des {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.section_3 {
  padding-bottom: 100px;
}

.section_3 .w_100 .news_cont {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.section_3 .w_100 .news_cont .news_list_cont {
  width: 100%;
  position: relative;
  list-style: none;
}

.section_3 .w_100 .news_cont .news_list_cont .news_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 30px;
  border-bottom: 1px solid #000;
}

.section_3 .w_100 .news_cont .news_list_cont .news_item .news_row p {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
}

.section_3 .w_100 .news_cont .news_list_cont .news_item .news_row:nth-of-type(1) {
  margin-right: 20px;
}

.section_3 .w_100 .news_cont .news_list_cont .news_item .news_row:nth-of-type(2) {
  width: 580px;
}

.section_3 .w_100 .news_cont .news_list_cont .news_gotolist {
  text-align: right;
  margin-top: 25px;
}

.section_3 .w_100 .news_cont .news_list_cont .news_gotolist a {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

.section_4 {
  padding: 100px 0 0;
  background: url(/assets/img/index/sect_4/sect_4_bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.section_4 .sect_4_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.section_4 .w_100 {
  z-index: 2;
}

.section_4 .w_100 .container .w_100 .sect_4_title .sect_title {
  color: #FFFFFF;
}

.section_4 .w_100 .container .w_100 .sect_4_title .sect_border_mid {
  border: 1px solid #FFFFFF;
}

.section_4 .w_100 .container .w_100 .sect_4_title .sect_des {
  color: #FFFFFF;
}

.section_4 .w_100 .container .w_100 .service_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section_4 .w_100 .container .w_100 .service_cont .service_item {
  width: 49%;
}

.section_4 .w_100 .container .w_100 .service_cont .service_item h4 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.section_4 .w_100 .container .w_100 .service_cont .service_item .serv_item_dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section_4 .w_100 .container .w_100 .service_cont .service_item .serv_item_dis .serv_item_dis_row {
  width: 50%;
  margin-bottom: 30px;
}

.section_4 .w_100 .container .w_100 .service_cont .service_item .serv_item_dis .serv_item_dis_row:nth-of-type(2) {
  padding: 0 20px 0 20px;
}

.section_4 .w_100 .container .w_100 .service_cont .service_item .serv_item_dis .serv_item_dis_row img {
  width: 100%;
}

.section_4 .w_100 .container .w_100 .service_cont .service_item .serv_item_dis .serv_item_dis_row p {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 8px;
}

.section_5 {
  background: url(/assets/img/index/sect_5/sect_5_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.section_5 .sect_5_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.section_5 .w_100 {
  z-index: 2;
}

.section_5 .w_100 .container {
  padding: 200px 0;
}

.section_5 .w_100 .container .w_100 .sect_5_title .sect_title {
  color: #FFFFFF;
}

.section_5 .w_100 .container .w_100 .sect_5_title .sect_border_mid {
  border: 1px solid #FFFFFF;
}

.section_5 .w_100 .container .w_100 .sect_5_title .sect_des {
  color: #FFFFFF;
}

.section_5 .w_100 .container .w_100 p {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
}

.section_6 {
  background: url(/assets/img/index/sect_6/sect_6_bg.png);
  background-size: cover;
  background-attachment: fixed;
}

.section_6 .sect_6_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.section_6 .w_100 {
  z-index: 2;
}

.section_6 .w_100 .container {
  padding: 200px 0;
}

.section_6 .w_100 .container .w_100 .sect_6_title .sect_title {
  color: #FFFFFF;
}

.section_6 .w_100 .container .w_100 .sect_6_title .sect_border_mid {
  border: 1px solid #FFFFFF;
}

.section_6 .w_100 .container .w_100 .sect_6_title .sect_des {
  color: #FFFFFF;
}

.section_6 .w_100 .container .w_100 p {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
}

.section_7 {
  background: url(/assets/img/index/sect_7/sect_7_bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
  padding: 150px 0;
}

.section_7 .sect_7_overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.section_7 .w_100 {
  z-index: 2;
}

.section_7 .w_100 .container .w_100 h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.section_7 .w_100 .container .w_100 p {
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
}

.section_7 .w_100 .container .w_100 p:nth-of-type(1) {
  font-size: 20px;
  margin-bottom: 50px;
}

.section_7 .w_100 .container .w_100 p:nth-of-type(2) {
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */